body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #616368;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.h-90 {
    height: 90px;
}
.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0;
    text-decoration: none;
    font-weight: 700 !important;
    padding: 22px 40px;
    border-radius: 50px;
    transition: 300ms ease;
}
.btn-blue {
    background-color: #2500f9;
    color: #fff !important;
}
.btn-blue:hover {
    background-color: #5262f1;
}
.btn-white {
    color: #2500f9;
    background-color: #fff;
}
.btn-white:hover {
    background-color: #ececec;
}
.badge {
    background-color: #e2eaed;
    display: inline-block;
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: #242f51;
}
.badge > .badge-icon {
    background-color: #feaa25;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.badge > .badge-text {
    padding: 0 30px 0 10px;
}
h1 {
    color: #242f51;
    font-size: 60px;
    line-height: 1.25em;
    margin: .33em 0;
}
.lead {
    font-size: 18px;
}
/*HEADER*/
.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
}
.header .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-navbar .header-navbar__logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #242f51;
    user-select: none;
}
.header .header-navbar .header-navbar__logo span {
    color: #fcae61;
}
.header .header-navbar .header-navbar__menu {
    display: flex;
    align-items: center;
}
.header .header-navbar .header-navbar__menu a {
    text-decoration: none;
    color: #242f51;
    font-weight: 500;
    margin-left: 35px;
    transition: 300ms ease;
}
.header .header-navbar .header-navbar__menu a:hover,
.header .header-navbar .header-navbar__menu a.active {
    color: #fcae61;
}
.header .header-navbar .header-navbar__menu a.btn-blue {
    margin-left: 55px;
}

#burger-menu {
    width: 64px;
    height: 64px;
    background-color: #1f6acc;
    position: relative;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    display: none;
}
#burger-menu span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 16px;
    transition: 200ms ease;
}
#burger-menu span:nth-child(1) {
    top: 20px;
}
#burger-menu span:nth-child(2) {
    top: 30px;
}
#burger-menu span:nth-child(3) {
    top: 40px;
}
#burger-menu.open span:nth-child(2) {
    transform: scaleX(0);
}
#burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 30px;
}
#burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 30px;
}
#shadow {
    display: none;
}

@media screen and (max-width: 1200px) {
    .h-90 {
        height: 45px;
    }
}
@media screen and (max-width: 991px) {
    .h-90 {
        height: 15px;
    }
    #burger-menu {
        display: block;
        z-index: 9999;
    }
    #shadow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 9998;
    }
    #shadow.open {
        display: block;
    }
    .header .header-navbar .header-navbar__menu {
        position: fixed;
        top: 0;
        left: -260px;
        width: 100%;
        max-width: 260px;
        height: 100vh;
        background-color: #fff;
        /* box-shadow: rgba(0,0,0,.3) 0 0 15px; */
        flex-direction: column;
        align-items: stretch;
        padding: 15px;
        box-sizing: border-box;
        transition: 300ms ease;
        z-index: 9999;
    }
    .header .header-navbar .header-navbar__menu a {
        padding: 15px;
    }
    .header .header-navbar .header-navbar__menu a,
    .header .header-navbar .header-navbar__menu a.btn-blue {
        margin-left: 0;
        margin-top: 10px;
    }
    .header .header-navbar .header-navbar__menu a.btn-blue {
        text-align: center;
        margin-top: 50px;
    }
    .header .header-navbar .header-navbar__menu.open {
        box-shadow: rgba(0,0,0,.3) 0 0 15px;
        left: 0;
    }
}

/* BEST APP SECTION */
.app-title {
    background-image: url(../images/bg1.png);
    background-repeat: repeat-x;
    background-position: bottom center;
}
.app-title .container {
    display: flex;
}
.app-title__right {
    padding: 30px;
}
.app-title__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
}
.app-title__left .buttons {
    margin-top: 1em;
}

@media screen and (max-width: 991px) {
    .app-title__right {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
    .app-title__left {
        padding: 15px 30px;
    }
}
@media screen and (max-width: 519px) {
    h1 {
        font-size: 30px;
    }
    .app-title__left {
        padding: 15px 0;
    }
}



/* COMPANIES SECTION */
.companies{
    margin-top: 90px;
    margin-bottom:150px ;
}
.companies>.container{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.companies_logo{
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    /* padding: 0 30px; */

}
.companies h2{
    display: inline-block;
    font-size: 16px;
    color: #242f51;
    line-height: 28px;
    font-weight: 400;
    /* margin: .33em 0; */
}
.companies_logo_img{
    padding: 15px;
}


/* FEATURES SECTION*/
.features .container{
    display: flex;
    max-width: 1360px;
    margin-bottom: 60px;
   /* margin-left: calc(auto -120px); */

}
.features__left{
    padding: 0 15px;
    align-self: flex-start;
}




.features__right{
    /* margin:  15px; */
    padding: 15px;

}
.features__hide{
    min-width: 150px;
    /* background-color: rgb(116, 13, 13); */

}

.feauters_list_items{
    display: flex  ;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 45px;
}
.subtittle{
    font-size: 36px;
    font-weight: 600;
    line-height:46px;
    color: #242f51;
}
.features__right_title{
    padding-bottom: 75px;
}
.features__right_title p{
    font-size: 16px;
    font-weight: 400;
    line-height:26px;
    color: #616368;
    /* margin:0; */
}
/* H3 */
 h3{
    font-size: 20px;
    font-weight: 600;
    line-height:58px;
    margin: 0;
 
}
.red{
    color: #f55767;
}
.blue{
    color:#2563ff;
}
.green{
    color:#40975f; 
}
.items-text{
padding:0 30px ;
}
.items-text p{
    margin: 0;
}
@media screen and (max-width: 1200px){
    .features__hide{
        display: none;
    }
}

@media screen and (max-width: 991px){
.features__left {
    display: none;
        
}

.companies_logo{
    flex-direction: column;
}
.companies_logo_img{
    padding: 15px;
}
.features__hide{
    display: none;
}
.items-text{
    padding: 0;
}

}
@media screen and (max-width: 519px){
    .feauters_list_items{
        flex-direction: column;
        margin-top: 30px;
    }
    .companies{
        margin-bottom:60px;
    }
    .items-text{
        padding: 0;
    }
}

/* MORE Feauters */
.morefeauters{
    margin-bottom: 105px;
}
.morefeauters_container{
    display: flex;
    justify-content: center;
    margin-bottom: 105px;
}
.morefeauters h2{
    font-size: 40px;
    font-weight: 600;
    line-height:50px;
    color: #242f51;
    margin:0 ;
}
.morefeauters_subtitle{
    /* display: flex; */
    align-items: center;
    padding: 0 60px;
    /* max-width: 540px; */
}
.morefeauters_hide{
    /* background-color: rgb(122, 8, 8); */
    width: 75px;
}

.morefeauters_text_item{
    display: flex;
    align-items: center;
    padding: 0 45px;
    /* max-width: 495px; */
    border-left: 1px solid #b9b9b8;
}
.morefeauters_text_item p{
    margin:0 ;
}
.morefeauters .items-text{
    padding: 0;
}
.morefeauters_bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.morefeauters_bottom_item{
 flex-basis: 25%;
}

/* Inegration */
.intagration__hide{
    /* background-color: rgb(77, 9, 9);
    height: 50px; */
    width: 165px;
}

.intagration .container{
    display: flex;
    align-items: center;
    max-width: 1305px;
    margin-bottom:195px;
}
.intagration_right{
padding: 15px;
margin:0 90px;
}
.intagration_left{
    /* margin:45px;   */
}


.intagration .buttons{
    padding: 15px;
}
@media screen and (max-width: 1200px){
    .intagration__hide{
        display: none;
    }
    .intagration_right{
       
        margin:0 45px;
        }
}
@media screen and (max-width: 991px){
    .intagration_right{
        margin:0 ;
        }
        .intagration_left{
            display: none;
        }
        .morefeauters_container{
            flex-direction: column;
            align-items: center;
        }
        .morefeauters_text_item{
      
            padding-top:30px;
            border-left:none;
           
        }
        .morefeauters_bottom{
            flex-direction: column;
        }
}

/* REASONSE */
.reasonse{
    margin-bottom: 150px;
}
.reasonse_title h2{
    padding: 0 95px 30px;
    margin:0 ;

}
.reasonse_title p{
margin: 0;
}

.reasonse_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 645px;
    margin: auto;
    text-align: center;
    margin-bottom:90px ;
}
.reasonse_item{
    display: flex;
    flex-direction: column;
}
.reasonse_cards_up, .reasonse_cards_down{
    display: flex;
    justify-content: space-between;
}
.reason_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align-last:center ;
    /* justify-content: space-between; */
    
    flex-basis: 25%;
}

.reason_card h2{
    color: #242f51;
}

.reason_card p{
    margin: 0;
}
.reasonse_cards_up{
    margin-bottom: 60px;
}



/* ULTIMATE */

/* .ultimate{
    display: flex;
    align-items: stretch;
} */
/* .ultimate_hiden{
    background-color: rgb(187, 0, 0);
    min-width: 9vw;
    height: 50px;
} */
.ultimate .container{
    display: flex;
    max-width: 1300px;
    
    margin: auto;
    }
.ultimate_left{
    min-width: 630px;
}

.ultimate_tittle{
    max-width: 400px;
    margin-bottom:60px ;
}
.ultimate_tittle h2{
    color: #242f51;
    margin: 0 0 16px 0 ;
    
}

.ultimate h3{
    color: #242f51;
}
.ultimate p{
    margin: 0;
}
.ultimate_cards_down,
.ultimate_cards_up
{
    display: flex;
    justify-content: space-between;  
}
.ultimate_cards_up{
    margin-bottom:60px ;
}
.ultimate_cards_down{
    margin-bottom:45px ;
}

.ultimate_card{
    max-width: 270px;
    
}
.ultimate{
    margin-bottom: 175px ;
}


@media screen and (max-width: 1200px){
    .ultimate_right{
        display: none;
    }
    .
    .ultimate .container{
        display: flex;
        max-width: 1200px;
        align-items: center;
        margin: auto;
        }
        .ultimate_left{
         margin: auto;
         text-align: center;
         align-items: center;
        }
        .ultimate_tittle{
           margin: 0 auto 60px; 
        }
}
@media screen and (max-width: 991px){
    .reasonse_cards_down,
    .reasonse_cards_up{
        flex-direction: column;
    }
    .reason_card{
        margin: 0 auto 60px ;
    }
    .ultimate_cards_up,
    .ultimate_cards_down
    {
        flex-direction: column;
      margin-bottom: 0;
    }
    .ultimate_card{
        max-width: none;
        margin-bottom: 60px;
    }
    .ultimate_left{
        min-width: 0;
    }
}


/* ACTION */
.action{
    margin-bottom: 100px;
    
}
.action_title{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    text-align: center;
}
.action_title{
    margin-bottom: 80px;
}

.price{
    font-size: 60px;
    font-weight: 600;
    line-height:58px;
    color: #242f51;

}
.action_box{
    /* margin: auto; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.action_box_left{
    margin-right:30px ;
    min-width: 315px;
}
.action_h2{
    font-size: 20px;
    font-weight: 600;
    line-height:28px;
    color: #242f51;
    margin: 0;
}
.action_box_left_up ,
.action_box_right_up,
.action_box_right_down,
.action_box_left_down
{
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.action_box_right_up p,
.action_box_left_up p{
    margin: 0;
}
.action_box_left_up .action_subtittle,
.action_box_right_up .action_subtittle{
    display: block;
    margin: 30px auto;
}
.action_box_right_up p:last-child,
.action_box_left_up p:last-child{
    margin-bottom: 40px;
}

.action_box_left_up{
    background-color: #fafbfc;
}
.action_box_right_up{
    background-color: #fcfdfd;
}
.action_box_right{
    border: 2px solid #ebebeb;
    border-radius: 8px;
    /* z-index: 99; */
    min-width:315px ;
}
.action_box_left{
    box-shadow: 0  10px 50px 0;
    border-radius: 8px;
    /* z-index: 1; */
}

.action_box_right_down{
    background-color: #fff;
}
.action_box a{
    margin: 25px;
}


/* satisfaction */
.satisfaction{
    border-top: solid 2px #f4f4f4 ;
}